{% extends "aggregator/base.html" %}
{% block title %}{{ source_group_label }} - 中北信息聚合{% endblock %}
{% block content %}
<div class="grid">
  <section>
    <h2>{{ source_group_label }}</h2>
    {% include "aggregator/_toolbar.html" %}
    {% with items=page.object_list %}
      {% include "aggregator/_item_list.html" %}
    {% endwith %}
    {% include "aggregator/_pagination.html" %}
  </section>
  <aside class="panel">
    {% include "aggregator/_sidebar_nav.html" %}
  </aside>
</div>
{% endblock %}